<div class="page" id="aboutus">
  <div class="content container">
  <article>
    <h2>About Us</h2>
    <div class="row">
      <p class="col-md-8 col-md-offset-2">Alpha Psi Lambda is the nation's <b>First and Largest</b> Co-ed Latino oriented Social Greek Fraternity. We are a family-based organization that breaks through stereotypical boundaries and eases its way into a plethora of cultures. We are a unique Greek Fraternity where only the Noblest Brothers and Sisters come together to form the great family that Alpha Psi Lambda represents.</p>
    </div>
  </article>
  </div><!-- content container -->          
</div><!-- aboutus page -->