<div class="content container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <p>All content &copy; 2015 <a href="https://www.linkedin.com/pub/andrew-lobban/39/94b/8aa" target="_blank" title="Andrew 'Intenso 131' Lobban LinkedIn">Andrew Lobban</a>. All rights reserved.</p>
    </div><!-- col-sm-6 -->
    <div class="col-sm-6">
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li class="col-xs-2 col-xs-offset-3">
              <a href="https://www.facebook.com/ApsiZeta/" title="Zeta Chapter's Facebook" target="_blank">
                <i class="fa fa-facebook-square fa-lg"></i>
              </a>
            </li>
            <li class="col-xs-2">
              <a href="https://twitter.com/ApsiZeta" title="Zeta Chapter's Twitter Profile" target="_blank">
                <i class="fa fa-twitter-square fa-lg"></i>
              </a>
            </li>
            <li class="col-xs-2">
              <a href="http://instagram.com/apsi_zeta1985" title="Zeta Chapter's Instagram" target="_blank">
                <i class="fa fa-instagram fa-lg"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div> <!-- inner row -->
    </div><!-- col-sm-6 -->          
  </div><!-- row -->        
</div><!-- content container -->  