<div class="page" id="members">
  <div class="content container">
    <h2>Members</h2>
    <div class="row">
      <article class="col-sm-5 col-sm-offset-1 col-md-4 member">
        <h3>President</h3>
        <p></p>
      </article>

      <article class="col-sm-5 col-sm-offset-1 col-md-4 member">
        <div>
          <img src="images/comingsoon.png" class="img-responsive" title="Photo coming soon">
        </div>
        <header>
          <h3>Internal Vice President <span class="deligate">Celina Hernández</span></h3>
        </header>
        <div>
          <p><span class="edu">Sociology Major, Latin American Latino Studies Minor.</span> She plans on going to Grad school after UIC to study Speech Pathology. <blockquote>"I'm very committed to my work and have been involved a lot on campus." she says.</blockquote></p>
        </div>
      </article>

      <article class="col-sm-5 col-sm-offset-1 col-md-4 member">
        <h3>External Vice President</h3>
        <p></p>
      </article>

      <article class="col-sm-5 col-sm-offset-1 col-md-4 member">
        <h3>Associate Member Educator</h3>
        <p></p>
      </article>

      <article class="col-sm-5 col-sm-offset-1 col-md-4 member">
        <h3>Treasurer</h3>
        <p></p>
      </article>

      <article class="col-sm-5 col-sm-offset-1 col-md-4 member">
        <h3>Secretary</h3>
        <p></p>
      </article>
    </div><!-- row -->
  </div><!-- content container -->
</div><!-- members -->