@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

body {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	margin: 0;
}

img {
	max-width: 200px;
}

/****** Navigation Header ******/

header .navbar {
	padding: 30px 0;
	transition: all .5s ease-out;
}

header .navbar-inverse {
	background: transparent;
	border: none;
}

header .navbar-inverse .navbar-nav a {
	color: white;
	padding: 5px 8px;
	text-shadow: 1px 1px 3px #000000;
}

header .navbar-inverse .navbar-nav a:hover {
	color: #EEC856;
}

header .navbar-inverse .navbar-nav .active a {
	font-weight: 700;
	color: #EEC856;
	background: transparent;
	border-bottom: 4px solid #EEC856;
	text-shadow: none;
}

header .navbar-inverse .navbar-nav .active a:hover {
	color: #E15D5F;
	background: transparent;
	text-shadow: none;
}

/****** Navbar Brand ******/

header .navbar-brand span.fa-stack .fa-lg {
	position: 15px 0;
	height: auto;
}

header .navbar-brand h1 {
	color: #FFD700;
	margin: 0;
	font-size: 1.8em;
	font-weight: 400;
	padding-left: 5px;
	text-shadow: 1px 1px 2px #000000;
}

header .navbar-brand span.subhead {
	display: block;
	font-family: "Roboto Slab", sans-serif;
	font-size: .6em;
	font-weight: 400;
}

/****** Navbar Toggle ******/

header .navbar-toggle {
	background-color: #EEC856;
}

header .navbar-inverse .navbar-toggle .icon-bar {
	background-color: white;
}

@media only screen
and (max-width: 768px) {
	header .navbar-collapse {
		background-color: rgba(0, 0, 0, .5);
	}
}



/****** nav inbody ******/

header .inbody	{
	background: rgba(4, 89, 181, .9);
}

header .navbar.inbody {
	padding-top: 0;
	padding-bottom: 0;
}

header .navbar.inbody .navbar-nav {
	padding-top: 10px;
}

header .inbody .navbar-brand {
	background-size: 43px;
	background-position: top left;
	margin-top: 5px;
	padding-bottom: 0;
	margin-left: 10px;
}

header .inbody .navbar-brand h1 {
	font-size: 1.1em;
	padding-left: 5px;
}

/*header .inbody .navbar-brand h1 span.subhead {
	display: none;
}*/

header .inbody .navbar-brand span.fa-stack {
	padding-top: 0;
	top: -15px;
}


/****** Carousel Fade ******/

.carousel.fade {
	opacity: 1;
}

.carousel.fade .item {
	transition: opacity ease-out .7s;
	left: 0;
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	display: block;	
}

.carousel.fade .item:first-child {
	top: auto;
	opacity: 1;
	position: relative;
}

.carousel.fade .item.active {
	opacity: 1;
}

#featured .item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

/****** page ******/

.page {
	padding: 50px 0;
}

.page h2 {
	text-align: center;
	margin-bottom: 30px;
}


/****** page About Us ******/

#aboutus {
	/*background-color: #5A71BF;
	background-image: linear-gradient(to bottom, #59689C, #599C6B);
	border-top: 20px solid rgba(6, 40, 158, .5);*/

	background-color: #F5F105;
	background-image: linear-gradient(to bottom, #05F579, #59B8F7);
	border-top: 20px solid rgba(19, 209, 2, .5);
}


/****** page Members ******/

#members h2 {
	display: none;
}

.member {
	margin: 20px 0;
	text-align: center;
}

.member h3 span.deligate {
	display: block;
	font-family: "Roboto Slab", sans-serif;
	font-size: .8em;
	font-weight: 600;
}

.member p span.edu {
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: .9em;
	font-weight: 600;
	color: #E15D5F;
}

#members h3 {
	margin-bottom: 10px;
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
	.member p {
		padding: 0 20%;
	}
}


/****** Footer ******/

footer {
	background: #586D74;
	color: white;
	font-size: .8em;
	padding: 20px 0 40px 0;
}

footer a {
	color: #E0E6AE;
}

footer a:hover {
	color: #EEC856 !important;
	text-decoration: none;
}

footer .navbar {
	margin-bottom: 0;
	min-height: 0;
}

footer .navbar-default {
	background-color: transparent;
	border: none;
	margin-right: 40px;
}

footer .navbar-nav>li a {
	padding-top: 0;
	padding-bottom: 0;
	/*text-decoration: underline;*/
	color: #EEC856 !important;
}

footer .navbar-nav>li a:hover {
	color: #FFFFFF !important;
}


/****** Font Awesome ******/

.fa-alpha:before {
    font-weight: 900;
    font-size: 1.5em;
    content: '\0391';
}

.fa-zeta:before {
    font-weight: 900;
    font-size: 1.5em;
    content: '\0396';
}

.fa-lambda:before {
    font-weight: 900;
    font-size: 1.5em;
    content: '\039B';
}

.fa-psi:before {
    font-weight: 900;
    font-size: 1.5em;
    content: '\03A8';
}

.fa-zeta, .fa-alpha, .fa-lambda, .fa-psi {
	color: #FFD700;
}

.fa-globe {
	color: #FFFFFF;
}

.fa-globe, .fa-zeta {
	text-shadow: 1px 1px 2px #000000;
}

.fa-zeta, .fa-alpha, .fa-lambda, .fa-psi {
	font-family: "Times New Roman", sans-serif;
}


/****** Mobile Fonts ******/

@media only screen
and (max-width: 768px) {
	.fa-zeta, .fa-alpha, .fa-lambda, .fa-psi {
		font-family: "Times New Roman", sans-serif;
	}
}