<div class="page" id="history">
    <div class="content container">
        <article>
            <h2>Chapter History</h2>
            <p>
                One night in <time datetime="1991-10">October of 1991</time> at the UIC's Rafael Cintron Cultural Center, Eliezer Perez
                and Derrick Cabrera were talking about creating an organization. Saul Garcia, who is one
                of the Alpha Psi Lambda founders at the University of Illinois at Urbana-Champaign, began
                talks with both of them about the fraternity. They spoke about its history, community
                service, and that the fraternity being co-ed will be a learning experience. However, the
                family aspect of the fraternity caught the attention of the two students. After some
                research, they decided to start a new chapter of Alpha Psi Lambda at University of Illinois at Chicago.
            </p>
            <p>
                Subsequently, they consulted the Northern Illinois University Chapter, and began recruiting
                people who were interested in establishing a new chapter. From the informational meetings,
                twenty one interested students were recruited, and on <time datetime="1992-10-17">October 17, 1992</time> approval was given to
                NIU to charter the prospective group which had dropped to fifteen.
            </p>
            <p>
                On <time datetime="1993-04-24 03:24">April 24, 1993 at 3:24 AM</time>, after being on line for <strong>155 days</strong> the twelve remaining students
                crossed over and the <strong>Alpha Psi Lambda, Zeta Chapter</strong> was <strong>Founded</strong>.
            </p>
        </article>
    </div><!-- content container -->
</div><!-- Chapter History page -->